<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title [innerHtml]="tabTitle$"></ion-title>
    <ion-button id="logoutButton" slot="secondary" color="medium" (click)="logoutFromSession()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="chevron-down-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button (click)="editReportBetweenTwoDates()" color="light">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="editMonthReport()" color="light">
        <ion-icon name="reader-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <app-home-details></app-home-details>
 
</ion-content>
