<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="user-tab-home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="user-tab-projects">
      <ion-icon name="briefcase-outline"></ion-icon>
      <ion-label>Projects</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

