<ion-header>
  <ion-toolbar>
    <ion-title>Sign in</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title [innerHtml]="tabTitle$"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Identifiant </ion-label>
    <ion-input type="text" placeholder="username"  [(ngModel)]="credentials.username" #usernameInput=ngModel required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password </ion-label>
    <ion-input type="password" placeholder="Password" [(ngModel)]="credentials.password" #passwordInput=ngModel required></ion-input>
  </ion-item>
  <ion-button (click)="login()" expand="block" fill="clear" shape="round">
    <ion-icon slot="end" name="log-in-outline"></ion-icon>
    Sign in
  </ion-button>
</ion-content>