<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title [innerHtml]="tabTitle$">
        
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item lines="none">
    <ion-label>
      Vos Projets
    </ion-label>
  </ion-item>
  <app-project-list [projectList]="projectList$ | async" (selectedProject)="selectedProject($event);"></app-project-list>
</ion-content>