<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="origin$"></ion-back-button>
    </ion-buttons>
    <ion-title [innerHtml]="tabTitle$"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>New Project</ion-label>
  <ion-card>
    <ion-item>
      <ion-label>Name: </ion-label>
      <ion-input [(ngModel)]="projectName" required></ion-input>
    </ion-item>

    <ion-label>Milestone</ion-label>
    <ion-list>
      <ion-item>
        <ion-label>Description: </ion-label>
        <ion-input [(ngModel)]="milestoneDescription" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>StartDate: </ion-label>
        <ion-datetime display-format="YYYY MM DD" picker-format="YYYY MM DD" [(ngModel)]="milestoneStartDate" required></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>EndDate: </ion-label>
        <ion-datetime display-format="YYYY MM DD" picker-format="YYYY MM DD" [(ngModel)]="milestoneEndDate" required></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Milestone Title: </ion-label>
        <ion-input readonly>Initialisation</ion-input>
      </ion-item>
    </ion-list>

    <ion-button color="success" expand="block" (click)="createProject();"><ion-icon name="checkmark-outline"></ion-icon></ion-button>
  </ion-card>
</ion-content>
