<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="admin-tab-home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="admin-tab-users">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
