 <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title [innerHtml]="tabTitle$"></ion-title>
    </ion-toolbar>
  </ion-header>

 <ion-content [fullscreen]="true">
  <ion-item lines="none">
    <ion-label>
      Vos Projets
    </ion-label>
  </ion-item>
  <ion-button color="success" expand="block" (click)="createProject();"><ion-icon name="add-outline"></ion-icon></ion-button>
  <app-project-list (selectedProject)="selectedProject($event)"></app-project-list>
</ion-content>
