<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Insert User</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="admin-tabs/admin-tab-users"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <ion-item class="form-group">
      <ion-label position="floating">Firstname</ion-label>
      <ion-input type="text" formControlName="firstName" class="form-control" required></ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label position="floating">Lastname</ion-label>
      <ion-input type="text" formControlName="lastName" class="form-control" required></ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label position="floating">Login</ion-label>
      <ion-input type="text" formControlName="login" class="form-control" required></ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" class="form-control" required></ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" formControlName="confirmPassword" class="form-control" required></ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label position="floating">Role</ion-label>
      <ion-select  formControlName="role" placeholder="Select Role">
        <ion-select-option *ngFor="let role of roleList$ | async" class="form-control" value="{{role.id}}">{{role.label}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button  type="submit" expand="block" fill="clear" shape="round">
      Insert user
    </ion-button>
  </form>



</ion-content>