<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title [innerHtml]="tabTitle$" ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="chevron-down-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button (click)="addUserToTheManager()" color="success">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="deleteUserToTheManager()" color="danger">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <app-user-list [userId]="managerId" (selectedUser)="selectedUser($event)"></app-user-list>
</ion-content>
