<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title [innerHtml]="tabTitle$"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button (click)="addUser()" color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-user-list [userId]="adminId" (selectedUser)="selectedUser($event)"></app-user-list>
</ion-content>
