<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title [innerHtml]="tabTitle$"></ion-title>
    <ion-button id="logoutButton" slot="secondary" color="medium" (click)="logoutFromSession()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-home-details></app-home-details>
 
</ion-content>
