<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="admin-tabs/admin-tab-users"></ion-back-button>
    </ion-buttons>
    <ion-title [innerHtml]="tabTitle$"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="chevron-down-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button (click)="editRoleUser()" color="light">
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addOrChangeUserManager()" color="light">
        <ion-icon name="accessibility-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="deleteUser()" color="danger">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-card *ngIf="userDetail$ | async as user">
    <ion-card-header>
      <div class="userDivIcon">
        <ion-icon name="person-circle-outline"></ion-icon>
      </div>
      <ion-card-title>
        {{ user.firstName }} 
        {{ user.lastName | uppercase }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>

        <ion-item-group>
          <ion-item-divider>
            <ion-label>Login</ion-label>
          </ion-item-divider>
          <ion-grid fixed>              
            <ion-row>
              <ion-col>{{ user.login }}</ion-col>
            </ion-row>
          </ion-grid>

          <ion-item-divider>
            <ion-label>Role</ion-label>
          </ion-item-divider>
          <ion-grid fixed>              
            <ion-row>
              <ion-col>{{ user.role.label }}</ion-col>
            </ion-row>
          </ion-grid>

          <ion-item-divider>
            <ion-label>Manager</ion-label>
          </ion-item-divider>
          <ion-grid fixed>              
            <ion-row>
              <ion-col *ngIf="user.manager?.id">{{ user.manager.firstName }} {{ user.manager.lastName }}</ion-col>
              <ion-col *ngIf="!user.manager?.id">No manger</ion-col>
            </ion-row>
          </ion-grid>

          <ion-item-divider>
            <ion-label>Projects</ion-label>
          </ion-item-divider>
          <ion-grid fixed>
            <ion-row *ngFor="let project of userProjects$ | async">
              <ion-col>{{ project.name }}</ion-col>
            </ion-row>
            <ion-row *ngIf="(userProjects$ | async)?.length === 0">
              <ion-col>No projects</ion-col>
            </ion-row>
          </ion-grid>

          <ion-item-divider>
            <ion-label>Logs</ion-label>
          </ion-item-divider>
          <ion-grid fixed>              
            <ion-row *ngFor="let logs of userLogs$ | async" >
              <ion-col size="5">{{ logs.editDate | date: 'MM/dd/yyyy' }}</ion-col>
              <ion-col size="5">{{ logs.project }}</ion-col>
              <ion-col size="2">{{ logs.granularity }}</ion-col>
            </ion-row>
            <ion-row *ngIf="(userLogs$ | async)?.length === 0">
              <ion-col>No logs</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item-group>

      </ion-list>

    </ion-card-content>
  </ion-card>
</ion-content>
