<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edit report</ion-title>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="insertCreator$ === 'fromManager'" defaultHref="manager-tab-users-details"></ion-back-button>
      <ion-back-button *ngIf="insertCreator$ === 'fromUser'" defaultHref="user-tab-home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <ion-item class="form-group">
      <ion-label>Start Date</ion-label>
      <ion-input position="stacked" type="date" formControlName="startDate" class="form-control" required></ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label>End Date</ion-label>
      <ion-input position="stacked" type="date" formControlName="endDate" class="form-control" required></ion-input>
    </ion-item>

    <ion-button  type="submit" expand="block" fill="clear" shape="round">
      Edit report
    </ion-button>
  </form>
</ion-content>
