<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="iconDiv">
    <ion-icon name="logo-ionic"></ion-icon>
  </div>
  
  <ion-button href="/login" expand="block" fill="clear" shape="round">
    Sign In
  </ion-button>
  <ion-button expand="block" fill="clear" shape="round">
    Work Offline
  </ion-button>
</ion-content>
