<ion-item>
  <ion-label>Milestone</ion-label>
  <ion-select value="{{ latestMilestoneId$ }}" [(ngModel)]="milestoneSelect" (ionChange)="milestoneChanged();">
    <ion-select-option value="{{ milestone.id }}" *ngFor="let milestone of milestones$">{{ milestone.description }}</ion-select-option>
  </ion-select>
</ion-item>