<ion-list *ngFor="let project of projectList">
  <ion-card (click)="selectedProject.emit(project.id)">
    <ion-card-header>
      <ion-card-title>{{ project.name }}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-list>
