<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="origin$"></ion-back-button>
    </ion-buttons>
    <ion-title [innerHtml]="tabTitle$"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label >Log Details</ion-label>
  <ion-card>
    <ion-button color="danger" expand="block" (click)="deleteLog();"><ion-icon name="trash-outline"></ion-icon></ion-button>
    <ion-card-header>
      <ion-card-title [innerHtml]="cardTitle$"></ion-card-title>
      <ion-card-subtitle [innerHtml]="cardSubTitle$"></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label [innerHtml]="labelDeveloper$"></ion-label>
        <ion-label [innerHtml]="labelDeveloperName$"></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime display-format="YYYY MM DD" picker-format="YYYY MM DD" [value]="logDate$" [(ngModel)]="inputLogDate$" required></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Description</ion-label>
        <ion-input [value]="logDescription$" [(ngModel)]="inputLogDescription$" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Granularity</ion-label>
        <ion-input type="number" [value]="logGranularity$" [(ngModel)]="inputLogGranularity$" required></ion-input>
      </ion-item>
      <ion-button color="success" expand="block" (click)="saveLog();"><ion-icon name="checkmark-outline"></ion-icon></ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
