ion-card {
    text-align: center;
}

ion-item-divider {
    color: black;
    font-weight: bold;
    height: 10px;
    font-size: 15px;
    border-radius: 5px;
}

ion-grid{
    margin: 0px;
}

ion-col{
    text-align: left;
}

.userDivIcon {
    display: flex;
    justify-content: center;
}

.userDivIcon ion-icon {
    font-size: 60px;
    margin-bottom: 20px;
}

#editReportButton{
    float: right;
}