<ion-card *ngIf="userDetail$ | async as user">
  <ion-card-header>
    <div class="userDivIcon">
      <ion-icon name="person-circle-outline" [ngStyle]="styleIconUser$"></ion-icon>
    </div>
    <ion-card-title>
      {{ user.firstName }} 
      {{ user.lastName | uppercase }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>

      <ion-item-group>
        <ion-item-divider [ngStyle]="styleDivider$">
          <ion-label>Login</ion-label>
        </ion-item-divider>
        <ion-grid fixed>              
          <ion-row>
            <ion-col>{{ user.login }}</ion-col>
          </ion-row>
        </ion-grid>

        <ion-item-divider [ngStyle]="styleDivider$">
          <ion-label>Role</ion-label>
        </ion-item-divider>
        <ion-grid fixed>              
          <ion-row>
            <ion-col>{{ user.role.label }}</ion-col>
          </ion-row>
        </ion-grid>

        <ion-item-divider *ngIf="role$ == 'developer' || role$ == 'manager'" [ngStyle]="styleDivider$">
          <ion-label>Projects</ion-label>
        </ion-item-divider>
        <ion-grid fixed *ngIf="role$ == 'developer' || role$ == 'manager'">
          <ion-row *ngFor="let project of userProjects$ | async">
            <ion-col>{{ project.name }}</ion-col>
          </ion-row>
          <ion-row *ngIf="(userProjects$ | async)?.length === 0">
            <ion-col>No projects</ion-col>
          </ion-row>
        </ion-grid>

        <ion-item-divider *ngIf="role$ == 'developer' || role$ == 'manager'" [ngStyle]="styleDivider$">
          <ion-label>Logs</ion-label>
        </ion-item-divider>
        <ion-grid fixed *ngIf="role$ == 'developer' || role$ == 'manager'">              
          <ion-row *ngFor="let logs of userLogs$ | async" >
            <ion-col size="5">{{ logs.editDate | date: 'MM/dd/yyyy' }}</ion-col>
            <ion-col size="5">{{ logs.project }}</ion-col>
            <ion-col size="2">{{ logs.granularity }}</ion-col>
          </ion-row>
          <ion-row *ngIf="(userLogs$ | async)?.length === 0">
            <ion-col>No logs</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item-group>

    </ion-list>

  </ion-card-content>
</ion-card>
