<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="origin$"></ion-back-button>
    </ion-buttons>
    <ion-title [innerHtml]="tabTitle$"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title [innerHtml]="projectTitle$"></ion-card-title>
      <ion-card-subtitle [innerHtml]="projectLatestMilestone$"></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-label>Colleagues</ion-label>
      <ion-item>
        <app-user-list [userId]="-1"></app-user-list>
      </ion-item>

      <ion-label>Your logs</ion-label>
      <app-milestone-select [milestones$]="milestones$" [latestMilestoneId$]="latestMilestoneId$" (milestoneId)="milestoneLogsChanged($event);"></app-milestone-select>
      <ion-button color="success" expand="block" (click)="createNewLog();"><ion-icon name="add-outline"></ion-icon></ion-button>
      <app-logs-list [logs$]="logs$" (logId)="logSelected($event);"></app-logs-list>
    </ion-card-content>
  </ion-card>
</ion-content>
