<ion-list *ngFor="let user of userList$">

  <ion-card (click)="selectedUser.emit(user.id)"> 

    <ion-card-header>
      <ion-card-title>
        <ion-icon name="person-outline"></ion-icon>
        {{ user.firstName }} 
        {{ user.lastName | uppercase }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Login : {{ user.login }}
    </ion-card-content>

  </ion-card>
  

</ion-list>
