<ion-list *ngFor="let log of logs$">
  <ion-card (click)="logId.emit(log.id)">
    <ion-card-header>
      <ion-card-title>{{ log.description }}</ion-card-title>
      <ion-card-subtitle>{{ log.editDate }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-list>